body {
    background-color:#E3FDFD;
    color:white;
    font-family:'Times New Roman';
}
a {
    color: red;
    font-size: 30px;
    
}
p {
    font-size: 20px;
}
a:hover {

    transition: all 1s linear;
    font-size: 40px;
    color:purple;
}
hr {
    border-color:grey;
    border-width: 20px;
    border-style:none;
    border-top-style:dotted;
    width:10%;
    
}
img {
    height: 200px;
}
h1 
   

h3 {
    color:white;
    font-style: italic;
}
